<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="https://thearchitecturedesigns.com/wp-content/uploads/2019/12/9-Corinthia-Hotel-London.jpg" alt="Interior Of Hotel" class="img-fluid rounded mb-3">
      <h2 class="mb-3">Interior Of Hotel</h2>
      <p class="mb-4">The hotel interior is elegantly designed with a modern aesthetic, featuring sleek furniture, tasteful décor, and ambient lighting. The lobby welcomes guests with plush seating areas and contemporary artwork, creating a warm and inviting atmosphere. Throughout the hotel, thoughtful attention to detail is evident, from the chic guest rooms with luxurious bedding to the stylish dining areas serving delicious cuisine. Overall, the interior exudes sophistication and comfort, ensuring a memorable stay for every guest.</p>
    </div>
    <div class="col-md-6">
      <img src="https://th.bing.com/th/id/OIP.s3tKApbNLXQ4SOkEn-z7SQHaE7?w=285&h=190&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Facilities Of Hotel" class="img-fluid rounded mb-3">
      <h2 class="mb-3">Facilities Of Hotel</h2>
      <p class="mb-4">Our hotel boasts a range of exceptional facilities to ensure a memorable stay. Enjoy our state-of-the-art fitness center for invigorating workouts. Relax and rejuvenate in our luxurious spa offering a variety of treatments. Take a dip in our sparkling swimming pool or unwind in our serene sauna. Indulge in culinary delights at our on-site restaurant, catering to diverse tastes. Experience comfort and convenience with our attentive concierge service available around the clock.</p>
    </div>
  </div>

  <div class="pt-3">
    <h4 >This is a simple user management system.</h4>
    <h2>Check out my <a href="https://www.youtube.com/@mab33217">YouTube Channel</a> For working of Project.</h2>
  </div>
</div>
