.main-course {
    margin-top: 20px;
    text-transform: capitalize;
}

.course-box {
    width: 100%;
    height: 300px;
    padding: 10px 10px 30px 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(193, 13, 13, 0.1);
}

.course-box ul {
    list-style: none;
    display: flex;
}

.course-box li {
    margin: 10px;
    color: black;
    cursor: pointer;
}

.course-box ul li {
    margin: 10px;
    color: black;
    cursor: pointer;
}

.course-box ul .active {
    color: #000;
    border-bottom: 1px solid #000;
}

.course-box .course {
    display: flex;
}

.box {
    width: 33%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: rgb(235, 233, 233);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.box p {
    font-size: 12px;
    margin-top: 5px;
}

.box button {
    background: #000;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
}

.box button:hover {
    background: rgba(0, 0, 0, 0.842);
}

.box i {
    font-size: 7rem;
    float: right;
    margin: -20px 20px 20px 0;
}

.html {
    color: rgb(25, 94, 54);
}

.css {
    color: rgb(104, 179, 35);
}

.js {
    color: rgb(28, 98, 179);
}